# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Model files (too large for GitHub, shared separately)
# models/*.pkl

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# vscode editor settings
.vscode/